<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>posts-save</title>
</head>
<body>
<form>
    <label>Title</label>
    <input type="text" id="email">
    <label>author</label>
    <input type="text" id="password">
    <label>name</label>
    <input type="text" id="name">
    <label>picture</label>
    <input type="text" id="picture">
</form>
<a href="/" role="button">취소</a>
<button type="button" id="btn-join">가입</button>


<!-- script -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>